body{
    background-color: turquoise;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1, .npc-play > p {
    color: white;
}

h1 {
    font-size: 50px;
}

.play-btns {
    display: flex;
    gap: 20px;    
}

.play-btns > button {
    border: none;
    flex-basis: 100px;
    height: 50px;
    padding-right: 50px;
    padding-left: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 6 00;
}

#rock-play-btn {
    color: brown;
}

#paper-play-btn {
    color: blue;
}

#scissors-play-btn {
    color: yellowgreen;
}